@import "~bootstrap/scss/bootstrap";
@import './banner.scss';
@import './midmain.scss';
@import './aboutus.scss';
@import './publish.scss';
@import './contactus.scss';
@import './service.scss';

 body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}



@font-face {
  font-family: "NexaSlab201-Black";
  src: url("//db.onlinewebfonts.com/t/81b54c4e1d22eaaf275c95062ae9e45c.eot");
  src: url("//db.onlinewebfonts.com/t/81b54c4e1d22eaaf275c95062ae9e45c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/81b54c4e1d22eaaf275c95062ae9e45c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/81b54c4e1d22eaaf275c95062ae9e45c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/81b54c4e1d22eaaf275c95062ae9e45c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/81b54c4e1d22eaaf275c95062ae9e45c.svg#NexaSlabW01-Black") format("svg");
}

@font-face {
  font-family: "Helvetica Neue LT Std Condensed";
  src: url("../fonts/HelveticaNeueLTStd-Cn.otf");
}

@font-face {
  font-family: "Helvetica Neue LT Std Blck Condensed";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf");
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}


.navbar {
  height: 7.5rem;
  // margin-bottom: 3rem;
  padding: 1.5rem 0;
  background: #fefbea !important;

  .logo-img {
    height: 100px;
  }

  .nav-item .nav-link {
    text-indent: 3px;
    color: #1c4f5c !important;
  }

  .navbar-section {
    margin: 0 80px;
  }

  .my-dropdown-toggle::after {
    content: none;
  }

  .my-dropdown-toggle {
    /* border: none;
        align-items: center;
        width: 50px;
        padding:5px 25px;
        margin-left: 5px;
        padding-left: 5px !important; */
    background: transparent !important;
    border: none;
  }

  .profile {
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 10px;
  }
}

.publishing-section {
  background: #5d7c6b;
  position:relative;

  .w-100{
    position: relative;
    height: 20.277481323372466vh;
    width: 100%;
    margin: 0 95px;
    max-width: 1800px;
    display: flex;
    flex-direction: row;

    .left{
      width: 50%;
      text-align: left;
      line-height: 0;
      padding: 50px 0;
      h2{
        font-size: 50px;
        color: #fff;
        font-weight: bolder;
      }
      span{
        font-size: 20px;
        color: #fff;
        font-style: italic;
      }
    }

    .right{
      width: 50%;
      position:relative;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: right;
      button{
        font-size: 20px;
        height: 50px;
        width: 17rem;
        border-radius: 10px;
        font-weight: bolder;
        text-align: center;
        background: #f2fcf7;
        border: none;
      }
    }
  }
}